@model Movie

@{
    ViewData["Title"] = "Movie Details";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">    
        <div class="col-md-8 offset-2">
            <div class="card mb-3" style="max-width:540px">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @Model.Name
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@Model.ImageURL" width="100%" alt="@Model.Name" />
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@Model.Description</p>
                            <p class="card-text"><b>Cinema: </b>@Model.Cinema.Name</p>
                            <p class="card-text"><b>Category: </b>@Model.MovieCategory</p>
                            <p class="card-text"><b>Start Date: </b>@Model.StartDate.ToShortDateString() </p>
                            <p class="card-text"><b>End Date: </b>@Model.EndDate.ToShortDateString()</p>
                            <p class="card-text">
                                <b>Status: </b>
                                @if (DateTime.Now >= Model.StartDate && DateTime.Now <= Model.EndDate)
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span>
                                }
                                else if (DateTime.Now > Model.EndDate)
                                {
                                    <span class="badge bg-danger text-white">Expired</span>
                                }
                                else
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span>                                    
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="cart-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@Model.Id">
                                    <i class="bi bi-eye-fill"></i>
                                    Show Details
                                </a>
                                <a class="btn btn-success text-white">
                                    <i class="bi bi-cart-plus"></i>
                                    Add to Cart (Price @Model.Price.ToString("c"))
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</div>


